{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agregarprod</title>
    <link rel="stylesheet" href="{% static '../static/css/dashboard.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a href={% url "dashboard" %}>
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href={% url "usuarios" %}>
                    <i class="fas fa-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href={% url "estadisticas" %}>
                    <i class="fas fa-chart-bar"></i>
                    <span>Estadisticas</span>
                </a>
            </li>
            
 
            <li>
                <a href={% url "nuevosproductos" %}>
                    <i class="fas fa-star"></i>
                    <span>Productos</span>
                </a>
            </li>
            <li>
                <a href={% url "catalogo" %}>
                <i class="fas fa-barcode"></i>
                <span>Catalogo</span>
            </a>
        </li>
            <li>
            </li>
            <li class="logout">
                <a href={% url "index" %}>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <h2> Dashboard</h2>
            </div>
            <div class="user--info">
                <div class="searh--box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Administración de Productos</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form" >
                    {% csrf_token %}
                    {{form | crispy}}
                    <input type="submit" value="Subir Producto" class="btn btn-success btn-lg">
                    <p class="warnings" id="warnings"></p>
                </div>     
            </form>
            <div id = 'error'></div>
        </div> 
    </div>    
    <script src={% static "../static/js/validaredit.js"%}></script>
</body>

</html>